/**
 * 全国高校校徽图标字体库
 * by 封尘 https://lovefc.cn
 * http://xiaohui.lovefc.cn
 * time 2020/05/12 12:14
 */
@font-face {
  font-family: 'fc-icon';
  src: url(font/xiaohui.woff2?v=20200512) format("woff2"),url(font/xiaohui.woff?v=20200512) format("woff");
  font-weight: normal;
  font-style: normal;
}
[class^="fc-icon"],
[class*="fc-icon-"] {
  font-family: 'fc-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/** 字体大小 **/

/** 小 **/
.fc-icon-xiao {
  font-size:30px !important;
}
/** 中 **/
.fc-icon-zhong {
  font-size:60px !important;
}
/** 大 **/
.fc-icon-da {
  font-size:90px !important;
}
/** 中大 **/
.fc-icon-zhongda {
  font-size:120px !important;
}
/** 特大 **/
.fc-icon-teda {
  font-size:150px !important;
}

/** 校徽 **/


/**
南昌大学 = ncu
景德镇陶瓷大学 = jci
南京大学 = nju
清华大学 = tsinghua
北京大学 = pku
**/
.fc-icon-ncu:before {
  content: "\e001";
}
.fc-icon-jci:before {
  content: "\e002";
}
.fc-icon-nju:before {
  content: "\e003";
}
.fc-icon-tsinghua:before {
  content: "\e004";
}
.fc-icon-pku:before {
  content: "\e005";
}

/*
安徽大学 = ahu
厦门大学 = xmu
江苏大学 = ujs
浙江大学 = zju
四川大学 = scu
**/
.fc-icon-ahu:before {
  content: "\e006";
}
.fc-icon-xmu:before {
  content: "\e007";
}
.fc-icon-ujs:before {
  content: "\e008";
}
.fc-icon-zju:before {
  content: "\e009";
}
.fc-icon-scu:before {
  content: "\e00a";
}

/**
河南大学 = henu
河北大学 = hbu
东北大学 = neu
上海大学 = shu
重庆大学 = cqu
*/
.fc-icon-henu:before {
  content: "\e00b";
}
.fc-icon-hbu:before {
  content: "\e00c";
}
.fc-icon-neu:before {
  content: "\e00d";
}
.fc-icon-shu:before {
  content: "\e00e";
}
.fc-icon-cqu:before {
  content: "\e00f";
}
/*
成都大学 = cdu
湖北大学= hubu
山东大学 = sdu
山西大学 = sxu
中山大学 = sysu
*/
.fc-icon-cdu:before {
  content: "\e010";
}
.fc-icon-hubu:before {
  content: "\e011";
}
.fc-icon-sdu:before {
  content: "\e012";
}
.fc-icon-sxu:before {
  content: "\e013";
}
.fc-icon-sysu:before {
  content: "\e014";
}
/*
天津大学 = tju
云南大学 = ynu
湖南大学 = hnu
青海大学 = qhu
贵州大学 = gzu
*/
.fc-icon-tju:before {
  content: "\e015";
}
.fc-icon-ynu:before {
  content: "\e016";
}
.fc-icon-hnu:before {
  content: "\e017";
}
.fc-icon-qhu:before {
  content: "\e018";
}
.fc-icon-gzu:before {
  content: "\e019";
}
/*
西藏大学 = utibet
兰州大学 = lzu
内蒙古大学 = imu
新疆大学 = xju
福州大学 = fzu
*/
.fc-icon-utibet:before {
  content: "\e01a";
}
.fc-icon-lzu:before {
  content: "\e01b";
}
.fc-icon-imu:before {
  content: "\e01c";
}
.fc-icon-xju:before {
  content: "\e01d";
}
.fc-icon-fzu:before {
  content: "\e01e";
}
/*
吉林大学 = jlu
哈尔滨工业大学 = hit
武汉大学 = whu
宁夏大学 = nxu
上海交通大学 = sjtu
**/
.fc-icon-jlu:before {
  content: "\e01f";
}
.fc-icon-hit:before {
  content: "\e020";
}
.fc-icon-whu:before {
  content: "\e021";
}
.fc-icon-nxu:before {
  content: "\e022";
}
.fc-icon-sjtu:before {
  content: "\e023";
}

/*
复旦大学 = fudan
中国科学技术大学 = ustc
东南大学 = seu
西安交通大学 = xjtu
陕西师范大学 = snnu
*/
.fc-icon-fudan:before {
  content: "\e024";
}
.fc-icon-ustc:before {
  content: "\e025";
}
.fc-icon-seu:before {
  content: "\e026";
}
.fc-icon-xjtu:before {
  content: "\e027";
}
.fc-icon-snnu:before {
  content: "\e028";
}
/*
中国矿业大学 = cumt
中国人民大学 = ruc
中国农业大学 = cau
中国传媒大学 = cuc
中国政法大学 = cupl
*/
.fc-icon-cumt:before {
  content: "\e029";
}
.fc-icon-ruc:before {
  content: "\e02a";
}
.fc-icon-cau:before {
  content: "\e02b";
}
.fc-icon-cuc:before {
  content: "\e02c";
}
.fc-icon-cupl:before {
  content: "\e02d";
}
/*
中央财经大学 = cufe
中央民族大学 = muc
同济大学= tongji
北京师范大学 = bnu
苏州大学 = suda
*/
.fc-icon-cufe:before {
  content: "\e02e";
}
.fc-icon-muc:before {
  content: "\e02f";
}
.fc-icon-tongji:before {
  content: "\e030";
}
.fc-icon-bnu:before {
  content: "\e031";
}
.fc-icon-suda:before {
  content: "\e032";
}
/*
北京航空航天大学 = buaa
大连理工大学 = dlut
北京理工大学 = bit
西北工业大学 = nwpu
华东师范大学 = ecnu
*/
.fc-icon-buaa:before {
  content: "\e033";
}
.fc-icon-dlut:before {
  content: "\e034";
}
.fc-icon-bit:before {
  content: "\e035";
}
.fc-icon-nwpu:before {
  content: "\e036";
}
.fc-icon-ecnu:before {
  content: "\e037";
}
/*
中国地质大学 = cug
华东理工大学 = ecust
郑州大学 = zzu
南京航天航空大学 = nuaa
南京农业大学 = njau
*/
.fc-icon-cug:before {
  content: "\e038";
}
.fc-icon-ecust:before {
  content: "\e039";
}
.fc-icon-zzu:before {
  content: "\e03a";
}
.fc-icon-nuaa:before {
  content: "\e03b";
}
.fc-icon-njau:before {
  content: "\e03c";
}
/*
电子科技大学 = uestc
西北农林科技大学 = nwsuaf
西南大学 = swu
武汉理工大学 = whut
南京理工大学 = njust
*/
.fc-icon-uestc:before {
  content: "\e03d";
}
.fc-icon-nwsuaf:before {
  content: "\e03e";
}
.fc-icon-swu:before {
  content: "\e03f";
}
.fc-icon-whut:before {
  content: "\e040";
}
.fc-icon-njust:before {
  content: "\e041";
}
/*
北京科技大学 = ustb
江南大学 = jiangnan
北京化工大学 = buct
华中师范大学 = ccnu
华中农业大学 = hzau
*/
.fc-icon-ustb:before {
  content: "\e042";
}
.fc-icon-jiangnan:before {
  content: "\e043";
}
.fc-icon-buct:before {
  content: "\e044";
}
.fc-icon-ccnu:before {
  content: "\e045";
}
.fc-icon-hzau:before {
  content: "\e046";
}
/*
南京师范大学 = njnu
西安电子科技大学 = xidian
河海大学 = hhu
暨南大学 = jnu
北京交通大学 = bjtu
*/
.fc-icon-njnu:before {
  content: "\e047";
}
.fc-icon-xidian:before {
  content: "\e048";
}
.fc-icon-hhu:before {
  content: "\e049";
}
.fc-icon-jnu:before {
  content: "\e04a";
}
.fc-icon-bjtu:before {
  content: "\e04b";
}

/** ------------20200510-----------**/
/**
华北电力大学 = ncepu
东北师范大学 = nenu
浙江工业大学 = zjut
扬州大学 = yzu
首都医科大学 = ccmu
**/
.fc-icon-ncepu:before {
  content: "\e04c";
}
.fc-icon-nenu:before {
  content: "\e04d";
}
.fc-icon-zjut:before {
  content: "\e04e";
}
.fc-icon-yzu:before {
  content: "\e04f";
}
.fc-icon-ccmu:before {
  content: "\e050";
}
/*
华南师范大学 = scnu
合肥工业大学 = hfut
南京工业大学 = njtech
西北大学 = nwu
上海理工大学 = usst
**/
.fc-icon-scnu:before {
  content: "\e051";
}
.fc-icon-hfut:before {
  content: "\e052";
}
.fc-icon-njtech:before {
  content: "\e053";
}
.fc-icon-nwu:before {
  content: "\e054";
}
.fc-icon-usst:before {
  content: "\e055";
}
/**
东华大学 = dhu
北京邮电大学 = bupt
中国石油大学(华东) = upc
中国石油大学(北京) = cup
南京信息工程大学 = nuist
**/
.fc-icon-dhu:before {
  content: "\e056";
}
.fc-icon-bupt:before {
  content: "\e057";
}
.fc-icon-upc:before {
  content: "\e058";
}
.fc-icon-cup:before {
  content: "\e059";
}
.fc-icon-nuist:before {
  content: "\e05a";
}
/**
华南农业大学 = scau
宁波大学 = nbu
中南财经政法大学 = zuel
北京林业大学 = bjfu
中国医科大学 = cmu
**/
.fc-icon-scau:before {
  content: "\e05b";
}
.fc-icon-nbu:before {
  content: "\e05c";
}
.fc-icon-zuel:before {
  content: "\e05d";
}
.fc-icon-bjfu:before {
  content: "\e05e";
}
.fc-icon-cmu:before {
  content: "\e05f";
}
/**
浙江师范大学 = zjnu
南京邮电大学 = njupt
燕山大学 = ysu
上海财经大学 = shufe
首都师范大学 = cnu
**/
.fc-icon-zjnu:before {
  content: "\e060";
}
.fc-icon-njupt:before {
  content: "\e061";
}
.fc-icon-ysu:before {
  content: "\e062";
}
.fc-icon-shufe:before {
  content: "\e063";
}
.fc-icon-cnu:before {
  content: "\e064";
}
/**
青岛大学 = qdu
昆明理工大学 = kmust
湖南师范大学 = hunnu
深圳大学 = szu
湘潭大学 = xtu
**/
.fc-icon-qdu:before {
  content: "\e065";
}
.fc-icon-kmust:before {
  content: "\e066";
}
.fc-icon-hunnu:before {
  content: "\e067";
}
.fc-icon-szu:before {
  content: "\e068";
}
.fc-icon-xtu:before {
  content: "\e069";
}

/*
西南财经大学 = swufe
哈尔滨医科大学 = hrbmu
中国药科大学 = cpu
重庆医科大学 = cqmu
太原理工大学 = tyut
*/
.fc-icon-swufe:before {
  content: "\e06a";
}
.fc-icon-hrbmu:before {
  content: "\e06b";
}
.fc-icon-cpu:before {
  content: "\e06c";
}
.fc-icon-cqmu:before {
  content: "\e06d";
}
.fc-icon-tyut:before {
  content: "\e06e";
}
/*
济南大学 = ujn
温州医科大学 = wmu
对外经济贸易大学 = uibe
四川农业大学 = sicau
广西大学 = gxu
*/
.fc-icon-ujn:before {
  content: "\e06f";
}
.fc-icon-wmu:before {
  content: "\e070";
}
.fc-icon-uibe:before {
  content: "\e071";
}
.fc-icon-sicau:before {
  content: "\e072";
}
.fc-icon-gxu:before {
  content: "\e073";
}
/*
广东工业大学 = gdut
上海师范大学 = shnu
天津医科大学 = tijmu
浙江理工大学 = zstu
黑龙江大学 = hlju
*/
.fc-icon-gdut:before {
  content: "\e074";
}
.fc-icon-shnu:before {
  content: "\e075";
}
.fc-icon-tijmu:before {
  content: "\e076";
}
.fc-icon-zstu:before {
  content: "\e077";
}
.fc-icon-hlju:before {
  content: "\e078";
}
/**** 14:36 ***/
/*
南通大学 = ntu
长安大学 = chd
山东师范大学 = sdnu
江苏师范大学 = xznu
山东农业大学 = edu
*/
.fc-icon-ntu:before {
  content: "\e079";
}
.fc-icon-chd:before {
  content: "\e07a";
}
.fc-icon-sdnu:before {
  content: "\e07b";
}
.fc-icon-xznu:before {
  content: "\e07c";
}
.fc-icon-edu:before {
  content: "\e07d";
}
/*
西北师范大学 = nwnu
东北财经大学 = dufe
河南师范大学 = htu
华侨大学 = hqu
南京林业大学 = njfu
*/
.fc-icon-nwnu:before {
  content: "\e07e";
}
.fc-icon-dufe:before {
  content: "\e07f";
}
.fc-icon-htu:before {
  content: "\e080";
}
.fc-icon-hqu:before {
  content: "\e081";
}
.fc-icon-njfu:before {
  content: "\e082";
}
/*
杭州师范大学 = hznu
安徽师范大学 = ahnu
杭州电子科技大学 = hdu
福建农业大学 = fafu
江西师范大学 = jxnu
*/
.fc-icon-hznu:before {
  content: "\e083";
}
.fc-icon-ahnu:before {
  content: "\e084";
}
.fc-icon-hdu:before {
  content: "\e085";
}
.fc-icon-fafu:before {
  content: "\e086";
}
.fc-icon-jxnu:before {
  content: "\e087";
}

/*** 16:52 ***/

/*
江西财经大学 = jxufe
南京中医药大学 = njucm
广东外语外贸大学 = gdufs
河南理工大学 = hpu
山东科技大学 = sdust
*/
.fc-icon-jxufe:before {
  content: "\e088";
}
.fc-icon-njucm:before {
  content: "\e089";
}
.fc-icon-gdufs:before {
  content: "\e08a";
}
.fc-icon-hpu:before {
  content: "\e08b";
}
.fc-icon-sdust:before {
  content: "\e08c";
}
/*
武汉科技大学 = wust
河南科技大学 = haust
西南政法大学 = swupl
辽宁大学 = lnu
北京中医药大学 = bucm
*/
.fc-icon-wust:before {
  content: "\e08d";
}
.fc-icon-haust:before {
  content: "\e08e";
}
.fc-icon-swupl:before {
  content: "\e08f";
}
.fc-icon-lnu:before {
  content: "\e090";
}
.fc-icon-bucm:before {
  content: "\e091";
}
/*
浙江工商大学 = hzic
西安建筑科技大学 = xauat
中北大学 = nuc
常州大学 = cczu
西安理工大学 = xaut
*/
.fc-icon-hzic:before {
  content: "\e092";
}
.fc-icon-xauat:before {
  content: "\e093";
}
.fc-icon-nuc:before {
  content: "\e094";
}
.fc-icon-cczu:before {
  content: "\e095";
}
.fc-icon-xaut:before {
  content: "\e096";
}
/*
哈尔滨师范大学 = hrbnu
华东政法大学 = ecupl
天津师范大学 = tjnu
大连海事大学 = dlmu
石河子大学 = shzu
*/
.fc-icon-hrbnu:before {
  content: "\e097";
}
.fc-icon-ecupl:before {
  content: "\e098";
}
.fc-icon-tjnu:before {
  content: "\e099";
}
.fc-icon-dlmu:before {
  content: "\e09a";
}
.fc-icon-shzu:before {
  content: "\e09b";
}
/*
上海中医药大学 = shutcm
北京外国语大学 = bfsu
四川师范大学 = sicnu
河北工业大学 = hebut
天津工业大学 = tjpu
*/
.fc-icon-shutcm:before {
  content: "\e09c";
}
.fc-icon-bfsu:before {
  content: "\e09d";
}
.fc-icon-sicnu:before {
  content: "\e09e";
}
.fc-icon-hebut:before {
  content: "\e09f";
}
.fc-icon-tjpu:before {
  content: "\e0a0";
}

/** 00:02 **/

/*
上海外国语大学 = shisu
海南大学 = hainanu
西南石油大学 = swpu
三峡大学 = ctgu
湖南农业大学 = hunau
*/
.fc-icon-shisu:before {
  content: "\e0a1";
}
.fc-icon-hainanu:before {
  content: "\e0a2";
}
.fc-icon-swpu:before {
  content: "\e0a3";
}
.fc-icon-ctgu:before {
  content: "\e0a4";
}
.fc-icon-hunau:before {
  content: "\e0a5";
}

/*
辽宁师范大学 = lnnu
曲阜师范大学 = qfnu
广州大学 = gzhu
陕西科技大学 = sust
中南民族大学 = scuec
*/
.fc-icon-lnnu:before {
  content: "\e0a6";
}
.fc-icon-qfnu:before {
  content: "\e0a7";
}
.fc-icon-gzhu:before {
  content: "\e0a8";
}
.fc-icon-sust:before {
  content: "\e0a9";
}
.fc-icon-scuec:before {
  content: "\e0aa";
}
/*
山东理工大学 = sdut
福建医科大学 = fjmu
广州中医药大学 = gzucm
哈尔滨理工大学 = hrbust
辽宁工程技术大学 = lntu
*/
.fc-icon-sdut:before {
  content: "\e0ab";
}
.fc-icon-fjmu:before {
  content: "\e0ac";
}
.fc-icon-gzucm:before {
  content: "\e0ad";
}
.fc-icon-hrbust:before {
  content: "\e0ae";
}
.fc-icon-lntu:before {
  content: "\e0af";
}
/*
重庆邮电大学 = cqupt
大连医科大学 = dmu
河南农业大学 = henau
广州医科大学 = gzhmu
沈阳药科大学 = syphu
*/
.fc-icon-cqupt:before {
  content: "\e0b0";
}
.fc-icon-dmu:before {
  content: "\e0b1";
}
.fc-icon-henau:before {
  content: "\e0b2";
}
.fc-icon-gzhmu:before {
  content: "\e0b3";
}
.fc-icon-syphu:before {
  content: "\e0b4";
}
/*
湖南科技大学 = hnust
西南科技大学 = swust
山东财经大学 = sdufe
长沙理工大学 = csust
兰州理工大学 = lut
*/
.fc-icon-hnust:before {
  content: "\e0b5";
}
.fc-icon-swust:before {
  content: "\e0b6";
}
.fc-icon-sdufe:before {
  content: "\e0b7";
}
.fc-icon-csust:before {
  content: "\e0b8";
}
.fc-icon-lut:before {
  content: "\e0b9";
}
/*
成都理工大学 = cdut
中国计量大学 = cjlu
河北医科大学 = hebmu
河北师范大学 = hebtu
长江大学 = yangtzeu
*/
.fc-icon-cdut:before {
  content: "\e0ba";
}
.fc-icon-cjlu:before {
  content: "\e0bb";
}
.fc-icon-hebmu:before {
  content: "\e0bc";
}
.fc-icon-hebtu:before {
  content: "\e0bd";
}
.fc-icon-yangtzeu:before {
  content: "\e0be";
}

/** 20200511 **/

/*
天津理工大学 = tjut
青岛农业大学 = qau
广西师范大学 = gxnu
江苏科技大学 = just
首都经济贸易大学 = cueb
*/
.fc-icon-tjut:before {
  content: "\e0bf";
}
.fc-icon-qau:before {
  content: "\e0c0";
}
.fc-icon-gxnu:before {
  content: "\e0c1";
}
.fc-icon-just:before {
  content: "\e0c2";
}
.fc-icon-cueb:before {
  content: "\e0c3";
}

/*
安徽工业大学 = ahut
温州大学 = wzu
河北农业大学 = hebau
长春理工大学 = cust
广西医科大学 = gxmu
云南师范大学 = ynnu
*/
.fc-icon-ahut:before {
  content: "\e0c4";
}
.fc-icon-wzu:before {
  content: "\e0c5";
}
.fc-icon-hebau:before {
  content: "\e0c6";
}
.fc-icon-cust:before {
  content: "\e0c7";
}
.fc-icon-gxmu:before {
  content: "\e0c8";
}

.fc-icon-ynnu:before {
  content: "\e0c9";
}
